html{
  scroll-snap-type: y mandatory;
}
.app{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__videoes{
  position: relative;
  height: 600px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 350px;
  scroll-snap-type: y mandatory;
}
.app__videoes::-webkit-scrollbar{
  display: none;
}
